.idea/
__pycache__/
models/
dataset/*
!dataset/test.wav
!dataset/test_long.wav
log/
lm/
tools/generate_audio/models/
tools/generate_audio/dgk_lost_conv/
tools/generate_audio/corpus.txt
test*.py
android/
build/
dist/
ppasr.egg-info/