numpy>=1.19.2
scipy>=1.6.3
tqdm~=4.59.0
librosa~=0.9.2
python-Levenshtein==0.12.2
visualdl>=2.1.1
SoundFile~=0.10
resampy==0.2.2
numba>=0.53.0
zhconv>=1.4.2
ijson~=3.1.4
webrtcvad~=2.0.10
pydub~=0.25.1
cn2an~=0.5.14
paddlenlp~=2.2.4
audioread~=2.1.9
pyyaml~=5.4.1
flask~=2.1.2
termcolor~=1.1.0
paddleaudio~=1.0.1